extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-rojo-400 Bienes
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl.text-negro= page
    div(class="bg-gradient-to-r from-naranja-400 via-coral-500 to-rojo-200 text-center text-white p-8 rounded-xl shadow-lg mx-auto w-full max-w-md")
        p.text-2xl.font-semibold.my-6= msg
